body {
  background: lightblue;
}

.container h1 {
  text-align: center;
  color: green;
  font-size: 3em;
  font-weight: 1000;
}

.instructions {
  margin: 0 1px 2px 5px;
}

.note-boxes {
  position: relative;
  display: inline-block;
  height: auto;
  margin: 10px;
}

.notes {
  position: relative;
  float: left;
  display: inline-block;
  font-size: 2em;
  border: solid 1px;
  padding: 3px;
  margin: 5px;
}

.typed {
  position: relative;
  padding: 10px;
  margin-top: 0.5em;
  margin-left: 20%;
  border: solid 1px;
  min-height: 1em;
  width: 55%;
  font-size: 2em;
  display: block;
  word-wrap: break-word;
}